$nav_bg_color: #333333;
.power_nav{
    position: fixed;
    top:0;
    left: 0;
    width: 300px;
    height: 100%;
    
    z-index: 999;
    background-color: $nav_bg_color;
    overflow:hidden;
    transition: transform .3s;
    
    &:hover{
        overflow-y: scroll;
    }
    
    .toggle{      
        
        a{
            position: absolute;
            right: 0;
            top: 0;  
            width: 20px;
            height: 20px;
        }
    }
    
    .menu{
        h3{
            display: block;
            width: 100%;
            color: #fff;
        }
        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background-color: #fff;
            
        }
    }
    
    .zone1{          
        .create{
            
            background-color: #5fbcd3;
        }
    }
    .zone2{          
        .create{
            
            background-color: #c87137;
        }
    }
    .zone3{          
        .create{
            color: #000;
            background-color: #ffd42a;
        }
    }
    .zone4{          
        .create{
            color: #000;
            background-color: #87de87;
        }
    }
    .zone5{          
        .create{
            color: #000;
            background-color: #c8b7be;
        }
    }
    div{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        flex-flow: row wrap;
        padding: 5px 5px 0 0;
        
        width: 100%;
        //height: 10px;
        
        
        span{
            display: block;
            width: 100%;
            color: #fff;
            padding-left: 20px;
        }
        .create{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            min-width: 40px;
            padding: 2px;
            
            
            
            margin: 10px;
            
            text-decoration: none;
            color: #fff;
            
        }
    }
}