/* line 1, ../sass/header.scss */
header {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: transform .3s ease-in-out;
  transform: translateY(-100%);
  z-index: 99;
}
/* line 18, ../sass/header.scss */
header div {
  display: flex;
  justify-content: center;
}
