/* line 2, ../sass/nav.scss */
.power_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  z-index: 999;
  background-color: #333333;
  overflow: hidden;
  transition: transform .3s;
}
/* line 14, ../sass/nav.scss */
.power_nav:hover {
  overflow-y: scroll;
}
/* line 20, ../sass/nav.scss */
.power_nav .toggle a {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
/* line 30, ../sass/nav.scss */
.power_nav .menu h3 {
  display: block;
  width: 100%;
  color: #fff;
}
/* line 35, ../sass/nav.scss */
.power_nav .menu a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
}
/* line 48, ../sass/nav.scss */
.power_nav .zone1 .create {
  background-color: #5fbcd3;
}
/* line 54, ../sass/nav.scss */
.power_nav .zone2 .create {
  background-color: #c87137;
}
/* line 60, ../sass/nav.scss */
.power_nav .zone3 .create {
  color: #000;
  background-color: #ffd42a;
}
/* line 66, ../sass/nav.scss */
.power_nav .zone4 .create {
  color: #000;
  background-color: #87de87;
}
/* line 72, ../sass/nav.scss */
.power_nav .zone5 .create {
  color: #000;
  background-color: #c8b7be;
}
/* line 77, ../sass/nav.scss */
.power_nav div {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  padding: 5px 5px 0 0;
  width: 100%;
}
/* line 88, ../sass/nav.scss */
.power_nav div span {
  display: block;
  width: 100%;
  color: #fff;
  padding-left: 20px;
}
/* line 94, ../sass/nav.scss */
.power_nav div .create {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  min-width: 40px;
  padding: 2px;
  margin: 10px;
  text-decoration: none;
  color: #fff;
}
